@import '@radix-ui/themes/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Fixel-Display", "sans-serif";
    }
}
@font-face {
    font-family: "Fixel-Display";
    src: url('static/fonts/fixel-display/FixelDisplay-SemiBold.ttf');
}